In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dc_listings = pd.read_csv('dc_airbnb.csv')
print(dc_listings.iloc[0])

host_response_rate                  92%
host_acceptance_rate                91%
host_listings_count                  26
accommodates                          4
room_type               Entire home/apt
bedrooms                              1
bathrooms                             1
beds                                  2
price                           $160.00
cleaning_fee                    $115.00
security_deposit                $100.00
minimum_nights                        1
maximum_nights                     1125
number_of_reviews                     0
latitude                          38.89
longitude                      -77.0028
city                         Washington
zipcode                           20003
state                                DC
Name: 0, dtype: object

In [4]:
our_living_space = 3
first_distance = dc_listings.iloc[0]['accommodates'] - our_living_space
print(first_distance)

1

## Calculate distance for all observations

In [6]:
dc_listings['distance'] = dc_listings['accommodates'].apply(lambda x: abs(x - our_living_space))
dc_listings['distance'].value_counts()

1     2294
2      503
0      461
3      279
5       73
4       35
7       22
6       17
9       12
13       8
8        7
12       6
11       4
10       2
Name: distance, dtype: int64

## Randomizing, and sorting

In [9]:
np.random.seed(1)
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]
dc_listings = dc_listings.sort_values('distance')
print(dc_listings.iloc[0:10]['price'])

577     $185.00
2166    $180.00
3631    $175.00
71      $128.00
1011    $115.00
380     $219.00
943     $125.00
3107    $250.00
1499     $94.00
625     $150.00
Name: price, dtype: object

In [10]:
print(dc_listings['price'])

577       $185.00
2166      $180.00
3631      $175.00
71        $128.00
1011      $115.00
380       $219.00
943       $125.00
3107      $250.00
1499       $94.00
625       $150.00
1309       $70.00
1252      $125.00
1744      $110.00
2334      $125.00
749        $40.00
1141      $135.00
1855      $100.00
1823       $76.00
1040      $299.00
1791       $95.00
2055      $220.00
2622      $120.00
334       $189.00
2528       $89.00
963       $119.00
2282       $93.00
976        $95.00
306       $309.00
492       $115.00
176       $119.00
          ...
1885       $99.00
1326      $375.00
1878       $99.00
1656      $283.00
3305    $2,000.00
1879       $99.00
2995      $595.00
542       $340.00
1875       $99.00
529       $600.00
571       $720.00
3524      $295.00
562       $599.00
1403      $599.00
1658      $283.00
685       $399.00
2106      $499.00
2688      $749.00
1850      $180.00
2757      $245.00
1806      $330.00
657       $500.00
1594    $1,250.00
611     $1,250.00
2560       $60.00
1596      $299.00
1818       $10.00
1402    $1,200.00
763     $1,000.00
1224      $499.00
Name: price, Length: 3723, dtype: object

## Average price

In [12]:
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_commas = stripped_commas.str.replace('$', '')
dc_listings['price'] = stripped_commas.apply(float)
mean_price = dc_listings['price'].iloc[:5].mean()
print(mean_price)

156.6

## Function to make predictions

In [18]:
# Brought along the changes we made to the `dc_listings` Dataframe.
dc_listings = pd.read_csv('dc_airbnb.csv')
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')
dc_listings['price'] = stripped_dollars.astype('float')
dc_listings = dc_listings.loc[np.random.permutation(len(dc_listings))]

def predict_price(new_listing):
    temp_df = dc_listings.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x : abs(x - new_listing))
    mean_price = temp_df.sort_values('distance').iloc[:5]['price'].mean()
    return mean_price

acc_one = predict_price(1)
acc_two = predict_price(2)
acc_four = predict_price(4)
print(acc_one)
print(acc_two)
print(acc_four)

71.4
67.8
120.2