<b>The three key data structures in pandas are:</b>

1. Series objects (collections of values)
2. DataFrames (collections of Series objects)
3. Panels (collections of DataFrame objects)

<b>A Series object can hold many data types, including:</b>
<ul>
<li>float - For float values</li>
<li>int - For integer values</li>
<li>bool - For Boolean values</li>
<li>datetime64[ns] - For date & time, without time zone</li>
<li>datetime64[ns, tz] - For date & time, with time zone</li>
<li>timedelta[ns] - For representing differences in dates & times (seconds, minutes, etc.)</li>
<li>category - For categorical values</li>
<li>object - For string values</li>
</ul>

In [7]:
import pandas as pd
fandango = pd.read_csv('fandango_score_comparison.csv')
print(fandango.head(2))

                             FILM  RottenTomatoes  RottenTomatoes_User  \
0  Avengers: Age of Ultron (2015)              74                   86
1               Cinderella (2015)              85                   80

   Metacritic  Metacritic_User  IMDB  Fandango_Stars  Fandango_Ratingvalue  \
0          66              7.1   7.8             5.0                   4.5
1          67              7.5   7.1             5.0                   4.5

   RT_norm  RT_user_norm         ...           IMDB_norm  RT_norm_round  \
0     3.70           4.3         ...                3.90            3.5
1     4.25           4.0         ...                3.55            4.5

   RT_user_norm_round  Metacritic_norm_round  Metacritic_user_norm_round  \
0                 4.5                    3.5                         3.5
1                 4.0                    3.5                         4.0

   IMDB_norm_round  Metacritic_user_vote_count  IMDB_user_vote_count  \
0              4.0                        1330                271107
1              3.5                         249                 65709

   Fandango_votes  Fandango_Difference
0           14846                  0.5
1           12640                  0.5

[2 rows x 22 columns]

In [8]:
series_film = fandango['FILM']
print(series_film[:5])
series_rt = fandango['RottenTomatoes']
print(series_rt[:5])

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object
0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

In [15]:
# pd.Series(data, index)
from pandas import Series
film_names = series_film.values
rt_scores = series_rt.values
series_custom = Series(data=rt_scores, index=film_names)
print(series_custom)

Avengers: Age of Ultron (2015)                     74
Cinderella (2015)                                  85
Ant-Man (2015)                                     80
Do You Believe? (2015)                             18
Hot Tub Time Machine 2 (2015)                      14
The Water Diviner (2015)                           63
Irrational Man (2015)                              42
Top Five (2014)                                    86
Shaun the Sheep Movie (2015)                       99
Love & Mercy (2015)                                89
Far From The Madding Crowd (2015)                  84
Black Sea (2015)                                   82
Leviathan (2014)                                   99
Unbroken (2014)                                    51
The Imitation Game (2014)                          90
Taken 3 (2015)                                      9
Ted 2 (2015)                                       46
Southpaw (2015)                                    59
Night at the Museum: Secret of the Tomb (2014)     50
Pixels (2015)                                      17
McFarland, USA (2015)                              79
Insidious: Chapter 3 (2015)                        59
The Man From U.N.C.L.E. (2015)                     68
Run All Night (2015)                               60
Trainwreck (2015)                                  85
Selma (2014)                                       99
Ex Machina (2015)                                  92
Still Alice (2015)                                 88
Wild Tales (2014)                                  96
The End of the Tour (2015)                         92
                                                 ...
Clouds of Sils Maria (2015)                        89
Testament of Youth (2015)                          81
Infinitely Polar Bear (2015)                       80
Phoenix (2015)                                     99
The Wolfpack (2015)                                84
The Stanford Prison Experiment (2015)              84
Tangerine (2015)                                   95
Magic Mike XXL (2015)                              62
Home (2015)                                        45
The Wedding Ringer (2015)                          27
Woman in Gold (2015)                               52
The Last Five Years (2015)                         60
Mission: Impossible â€“ Rogue Nation (2015)        92
Amy (2015)                                         97
Jurassic World (2015)                              71
Minions (2015)                                     54
Max (2015)                                         35
Paul Blart: Mall Cop 2 (2015)                       5
The Longest Ride (2015)                            31
The Lazarus Effect (2015)                          14
The Woman In Black 2 Angel of Death (2015)         22
Danny Collins (2015)                               77
Spare Parts (2015)                                 52
Serena (2015)                                      18
Inside Out (2015)                                  98
Mr. Holmes (2015)                                  87
'71 (2015)                                         97
Two Days, One Night (2014)                         97
Gett: The Trial of Viviane Amsalem (2015)         100
Kumiko, The Treasure Hunter (2015)                 87
Length: 146, dtype: int64

## Series can be indexed by string (like a dict) or by index (like a list)

In [20]:
series_custom = Series(rt_scores , index=film_names)
byName = series_custom[['Minions (2015)', 'Leviathan (2014)']]
print('by name:')
print(byName)
fiveten = series_custom[5:11]
print('\n\nby index:')
print(fiveten)

by name:
Minions (2015)      54
Leviathan (2014)    99
dtype: int64


by index:
The Water Diviner (2015)             63
Irrational Man (2015)                42
Top Five (2014)                      86
Shaun the Sheep Movie (2015)         99
Love & Mercy (2015)                  89
Far From The Madding Crowd (2015)    84
dtype: int64

In [22]:
# pd.Series.reindex()
original_index = series_custom.index
sorted_index = sorted(original_index)
sorted_by_index = series_custom.reindex(sorted_index)
print(sorted_by_index[5:11])

Aloha (2015)              19
American Sniper (2015)    72
American Ultra (2015)     46
Amy (2015)                97
Annie (2014)              27
Ant-Man (2015)            80
dtype: int64

In [24]:
# pd.Series.sort_index(), sort_values()

sc2 = series_custom.sort_index()
sc3 = series_custom.sort_values()
print('sort by index:')
print(sc2[:10])
print('\n\nsort by values:')
print(sc3[:10])

sort by index:
'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64


sort by values:
Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

In [27]:
# vectorized operation

series_normalized = series_custom / 20
print(series_normalized.head())

criteria_one = series_custom > 50
criteria_two = series_custom < 75

both_criteria = series_custom[criteria_one & criteria_two]

Avengers: Age of Ultron (2015)    3.70
Cinderella (2015)                 4.25
Ant-Man (2015)                    4.00
Do You Believe? (2015)            0.90
Hot Tub Time Machine 2 (2015)     0.70
dtype: float64

In [29]:
rt_critics1 = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'])
rt_critics2 = Series(fandango['RottenTomatoes'].values, index=fandango['FILM'].values)
print(rt_critics1.head())
print('\n')
print(rt_critics2.head())

FILM
Avengers: Age of Ultron (2015)    74
Cinderella (2015)                 85
Ant-Man (2015)                    80
Do You Believe? (2015)            18
Hot Tub Time Machine 2 (2015)     14
dtype: int64


Avengers: Age of Ultron (2015)    74
Cinderella (2015)                 85
Ant-Man (2015)                    80
Do You Believe? (2015)            18
Hot Tub Time Machine 2 (2015)     14
dtype: int64