In [16]:
import pandas as pd
import numpy as np
titanic_survival = pd.read_csv('titanic_survival.csv')

In [25]:
# selection
age = titanic_survival["age"]
age_is_null = age.isnull()
age_null_true = age[age_is_null]
age_null_false = age[age_is_null == False]
correct_mean_age = sum(age_null_false) / len(age_null_false)
print('Mean:', correct_mean_age)

Mean: 29.8811345124283

In [26]:
# selection
correct_mean_age = titanic_survival["age"].mean()
print('Mean:', correct_mean_age)

Mean: 29.8811345124283

In [27]:
# selection
passenger_classes = [1, 2, 3]
fares_by_class = {}
for c in passenger_classes:
    rows = titanic_survival['pclass'] == c
    fares = titanic_survival['fare']
    cfares = fares[rows]
    fares_by_class[c] = cfares.mean()
print(fares_by_class)

{1: 87.50899164086687, 2: 21.1791963898917, 3: 13.302888700564957}

## Note: select columns use index, select rows using True/False list

In [28]:
# pivot table
passenger_class_fares = titanic_survival.pivot_table(index="pclass", values="fare", aggfunc=np.mean)

"""The first parameter of the method, index tells the method which column to group by. 
The second parameter values is the column that we want to apply the calculation to,
and aggfunc specifies the calculation we want to perform. 
The default for the aggfunc parameter is actually the mean, 
so if we're calculating this we can omit this parameter.
"""

"The first parameter of the method, index tells the method which column to group by. \nThe second parameter values is the column that we want to apply the calculation to,\nand aggfunc specifies the calculation we want to perform. \nThe default for the aggfunc parameter is actually the mean, \nso if we're calculating this we can omit this parameter.\n"

In [29]:
# pivot table
passenger_age = titanic_survival.pivot_table(index='pclass', values='age')
print(passenger_age)

              age
pclass
1.0     39.159918
2.0     29.506705
3.0     24.816367

In [30]:
# pivot table
port_stats = titanic_survival.pivot_table(index='embarked', values=['fare', 'survived'], aggfunc=np.sum)
print(port_stats)

                fare  survived
embarked
C         16830.7922     150.0
Q          1526.3085      44.0
S         25033.3862     304.0

In [31]:
# drop na
drop_na_rows = titanic_survival.dropna(axis=0)
drop_na_columns = titanic_survival.dropna(axis=1)
new_titanic_survival = titanic_survival.dropna(subset=['age', 'sex'])

## iloc[index] vs loc[index]
DataFrame.iloc[ ]: by position <br>DataFrame.loc[ ]: by row name or original position

<img src="img/iloc_vs_loc.png",width=600,height=600>

In [32]:
# reset index
titanic_reindexed = new_titanic_survival.reset_index(drop=True)
print(titanic_reindexed.iloc[:5, :3])

   pclass  survived                                             name
0     1.0       1.0                    Allen, Miss. Elisabeth Walton
1     1.0       1.0                   Allison, Master. Hudson Trevor
2     1.0       0.0                     Allison, Miss. Helen Loraine
3     1.0       0.0             Allison, Mr. Hudson Joshua Creighton
4     1.0       0.0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)

In [34]:
# DataFrame.apply()

def hundredth_row(column):
    hundredth_item = column.iloc[99]
    return hundredth_item

hundredth_row_var = titanic_survival.apply(hundredth_row)

def count_null(series):
    return sum(series.isnull())

column_null_count = titanic_survival.apply(count_null)

In [35]:
# DataFrame.apply() to row
def is_minor(row):
    if pd.isnull(row['age']):
        return 'unknown'
    elif row["age"] < 18:
        return 'minor'
    else:
        return 'adult'

age_labels = titanic_survival.apply(is_minor, axis=1)